.profile-main {
  background-color: var(--lightgray);
  display: grid;
  grid-template-columns: 350px 750px 350px;
  grid-template-rows: repeat(3, 100%);
}

.profile-sidebar {
  background-color: var(--blue);
  color: var(--white);
  width: 350px;
}

.create-post-container {
  background-color: var(--stormShadow);
  margin: 20px 0;
  height: 100px;
}

.main {
  background-color: var(--lightgray);
  width: 750px;
  height: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: center;
}

.inner-wrapper__mainprofile {
  width: 500px;
}

.create-post-button {
  background-color: #f0f2f5;
  border: none;
  height: 40px;
  width: 400px;
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
}

.create-post-button:hover {
  cursor: pointer;
}

.profileImg__postContainer {
  height: 40px;
  width: 40px;
}

.profileImg__postContainer img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.create-post__inner-container {
  display: flex;
  padding: 15px;
  height: 100%;
  align-items: center;
}

.divider {
  border: 1px solid #f0f2f5;
}
